/*******************************************************************************
Imports
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
Note: Using Normalize instead of Meyerweb Reset
*******************************************************************************/


/*******************************************************************************
Structure Styles
*******************************************************************************/
html, 
body {
  height: 100%;
}

body {
  background: #fff;
  color: #778;
  font-size: 16px;
  font-family: 'Georgia', Times, serif;
  line-height: 1.5em;
}

.container {
  width: 1140px;
  height: 100% !important;
  margin: 0 auto;
  padding-bottom: 40px !important;
}

.wrapper {
  float: left;
  width: 800px;
  min-height: 100%;
}

.content {
  margin-top: 60px;
  margin-left: 20px;
}

.sidebar {
  width: 320px;
  min-height: 100%;
  float: right;
  background: rgba(255, 75, 75, 0.4);
  color: #fff;
}

.header {
  background: transparent;
  color: #fff;
  clear: both;
  overflow: hidden;
}

.footer {
  background: #778;
  color: #fff;
  height: 60px;
  padding-bottom: 20px;
  clear: both;
}

/*******************************************************************************
Text Styles
*******************************************************************************/

p {
  margin: 20px 10px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 1.8em;
}

h1 a {

}

h2 {
  font-size: 1.7em;
  line-height: 2.4em;
}

h2 a {

}

h3 {
  font-size: 1.4em;
  line-height: 2.4em;
}

h4 {
  font-size: 1.3em;
  display: block;
  border-bottom: 1px solid #777;
  margin: 20px 0;
}

ul, ol, dl {
  margin: 15px;
  padding-left: 20px;
}

ul {

}

ol {

}

li {
  list-style-type: none;
}

pre, code {
  width: 90%;
  display: block;
  background: #444;
  color: #fff;
  font-size: 12px;
  font-family: monospace;
  padding: 12px;
  overflow: auto;
}

blockquote {
  padding-left: 30px;
  margin-bottom: 20px;
}

hr {
  height: 1px;
  background: url('../images/bg_hr.png') repeat-x center;
  border: none;
  margin-bottom: 6px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

table {
  text-align: left;
  border: 1px solid #444;
  margin: 20px;
}

td {
  border: 1px solid #444;
  padding: 10px;
}

th {
  padding: 10px;
}

form {
  background: #f7f7f7;
  padding: 20px;
}

/*******************************************************************************
Nav/Link Styles
*******************************************************************************/

a {
  text-decoration: none;
  color: rgb(255, 75, 75);
  padding-bottom: 4px;
  border-bottom: 1px dashed #c0c0c0;
}

a:hover {
  color: rgb(255, 50, 50);
}

.nav {
  position: fixed;
  width: 1140px;
  background: rgb(255, 75, 75);

}

.us {
  display: block;
  float: left;
  color: #fff;
  padding: 15px 30px;
}

.nav ul {
  float: left;
  margin-top: 31px;
  margin-left: 40px;  
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 16px;
}

.nav li a {
  color: #ffcfcf;
  font-size: 19px;
  border-bottom: 1px dashed #fff;
}

.nav li a:hover,
.nav li a:active {
  color: #fff;
}

/*******************************************************************************
Header Styles
*******************************************************************************/

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  float: left;
}

.logo a {
  border-bottom: none;
}

.logo img {
  width: 80px; 
  height: 80px;
  margin: 5px 10px 0px 30px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/*******************************************************************************
Sidebar Styles
*******************************************************************************/

.social {
}

.social ul {
  margin-top: 0;
}

.social li {
  display: block;
  margin-top: 14px;
}

.social li a {
  font-size: 16px;
  border-bottom: 1px dashed #fff;
}

.social i {
  color: #fff;
}

/*******************************************************************************
Footer Styles
*******************************************************************************/

.footer-wrapper {

}

/*******************************************************************************
Media--image, icon, etc--Styles
*******************************************************************************/

.pyladies-wide {
  width: 100%;
  max-width: 100%;
  margin: 50px 0 0 0;
  margin-top: 40px;
}

i {
}

.background-image {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.background-image img {
  margin: 0;
}


/*******************************************************************************
Member Profile Styles
*******************************************************************************/

.member-wrapper{
  padding: 35px;
  background: #dddddd;
  display: inline-block;
  margin: 10px;
}

.member {
  width: 20%;
  float: left;
  margin-right: 26px;
}

#nudge {
  clear: both;
  padding-top: 30px;
}

.user-mention {
  display: inline-block;
  margin-left: 30px;
}

.profile {
    margin: 8px;
}

.profile-header {
  padding-bottom: 20px;
}

#profile-contact {
  width: 70%;
  float: right;
}

.profile-bio {
  padding-top: 20px;
}

.profile-pic {
  height: 150px;
  width: 150px; 

}


/*******************************************************************************
Media Queries
*******************************************************************************/

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 769px) {

}

@media screen and (min-width: 770px) and (max-width: 1026px) {

}

@media screen and (min-width: 1027px) {

}

