body { 
  padding-top: 70px;
  background-color: #7e9db5;
}

#logo {
  height: 4em; 
}

.navbar {
  background-color: #243d51;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus
{
  color: #fa023c;
}