<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />    
    <meta name="description" content="Pyladiespdx.github.io : Website for Pyladies PDX hosted on Github" />
    <title> {% if page.title %} {{ page.title }} | {% endif %} Pyladiespdx </title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel "stylesheet" href="/css/pygment_trac.css" />
    <!--<link href="http://fonts.googleapis.com/css?family=">Add Fonts?-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="/js/meetup_widget.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			addUpcomingMeetups();
		});
	</script>
</head>

<body>
	
	<div class="my-container">
		<div class="header">
				<div class="header-wrapper">
				<!--<a id="forkme_banner" href="https://github.com/pyladiespdx">View on GitHub</a>-->
				</div><!--end header-wrapper-->
			</div><!--end header-->
		<div class="nav">
			<div class="logo"><a href="/"><img src="/images/pyladies_pdx.png" alt="pyladies pdx logo" /></a></div>
      <!--<img class='logo' width='100px' src="/images/pyladies_pdx.png"/> -->
			<a href="/"><h1 class="us">PyLadies PDX</h1></a>
			<ul>
				<li><a href="/workshops">Workshop Notes</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/other">Other stuffs</a></li>
			</ul>
		</div><!--end nav-->
		<img class="pyladies-wide" src="../images/pyladies_mtg.jpg" alt="pyladies of portland" />
		<div class="wrapper">
			<div class="content">
				{{ content }}
			</div><!--end content-->
		</div><!--end wrapper-->
		<div class="sidebar">
			<div class="social">
				<ul>
					<li><a href="https://github.com/pyladiespdx"><i class="icon-github-alt icon-large"></i>  Fork us on Github</a></li>
					<li><a href="http://www.meetup.com/PyLadies-PDX/"><i class="icon-group icon-large"></i>  Join us on Meetup</a></li>
					<li><a href="https://twitter.com/PyLadies_pdx"><i class="icon-twitter icon-large"></i>  Follow us on Twitter</a></li> 
				</ul>
			</div><!--end social-->
		</div><!--end sidebar-->
	<div class="footer">
		<div class="footer-wrapper">
			<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		</div><!--end footer wrapper-->
	</div><!--end footer-->
	<div class="background-image">
		<img src="images/pyladies_mtg.jpg" alt="portland pyladies" />
	</div>
	</div><!--end container-->
	<!-- Scripts -->
	<!--<script type="text/javascript">    
            var _gaq = _gaq || [];
             _gaq.push(['_setAccount', '']);<--add account # here
             _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
    </script>-->
	<!--<script src="/assets/js/bootstrap.js"></script>Add bootstrap?-->
    <script type="text/javascript" src="/js/get-wow.js"></script>
    
</body>

</html>